/* Google fonts link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  /* overflow-x: hidden; */
}
:root{
  font-family: "Poppins", sans-serif;
  --main-color:#000000;
  --bg-main:#ffff;
  --dark-color:#be51c4;
  --dark-fg:#0c0c0c;
  --bg-dark:#000000;
  --color-white:#ffff;
  --color-purple:#94329e;
}

#particles canvas {
  z-index: -1;
  height: 100%;
  width: 100%;
  position: absolute;
}

.darkbg{
  background-color: var(--bg-dark);
}

.whitebg{
  background-color: var(--bg-white);
}


.bg-purple{
  background-color: var(--color-purple);
}

.colorWh{
  color: var(--color-white);
}

.colorPr{
  color: var(--color-purple);
}

.border-Pr{
  outline-color: var(--color-purple);
}

.border-purple{
  border: 1px solid var(--color-purple);  
}
.border-purple2{
  border: 2px solid var(--color-purple);  
}

.z-i1{
  z-index: 1;
}

.z-i0{
  z-index: 0;
}

.c-pointer{
  cursor: pointer !important;
}